<!DOCTYPE html>
<html>
  <head>
    <title>도서정보</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>도서정보</h1>

    <button type="button" onclick="location.href='/'">홈</button>
    <br>
    <br>
    
    <p><strong>도서명: </strong><%= bookinfodetail.book_name %></p>
    <p><strong>도서재고: </strong><%= bookinfodetail.book_value %></p>
    <p><strong>도서금액: </strong><%= bookinfodetail.book_money %></p>
    <br>
    <br>
    
    <form method="POST" action="/book/book/<%= bookinfodetail.book_num%>">
      <input type="number" name="sum" id="sum">
      <input type="hidden" name="price" id="price" value="<%= bookinfodetail.book_money %>">
      <br>

      <input type="submit" name="buy" value="주문하기">
      <input type="submit" name="basket" value="장바구니">
    </form>
    <br>
    <br>
      
  </body>
</html>
