<!DOCTYPE html>
<html>
    <head>
        <title>주문하기</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>

        <h1>주문하기</h1>


        <button type="button" onclick="location.href='/'">홈</button>
    <br>
    <br>

    
        <form class="order-form" method="POST" action="/order/basketOrder">
        

            <div class="mybasketlist2">
                <table class="mybasketlist2">
                  <thead>
                    <tr>
                      <td>도서번호</td>
                      <td>도서명</td>
                      <td>도서금액</td>
                      <td>개수</td>
                      <td>도서 총 금액</td>
                    </tr>
                  </thead>
                      <% var sum = 0 %>
                  <tbody>
                      
                    <% for(var i = 0; i < basketinfo.length; i++ ) { %>
                      <tr>
                        <td><%= basketinfo[i].book_book_num %></td>
                        <td><%=  basketinfo[i].book_name%></td>
                        <td><%=  basketinfo[i].book_money%></td>
                        <td><%=  basketinfo[i].amount%></td>
                        <td><%= basketinfo[i].book_money*basketinfo[i].amount %></td>
                        <%sum = sum + basketinfo[i].book_money*basketinfo[i].amount%>
                      </tr>
                    <% } %>
                    
                    <tr>
                        <td>합계</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td ><%= sum %><input type="hidden" value="<%= sum%>" name="basket_sum"></td>
                    </tr>
                    </tbody>
                </table>
              </div>
            <br>
        
            <div>
                <label for="bakset_card">카드 선택</label>
                <select id="basket_card" class="form-control" aria-colspan="13" name="bakset_card" style="width: auto;">
                    <option value="">카드 선택</option>
                    <% for(var i = 0; i < cardinfo.length; i++ ) { %>
                    <option value="<%=cardinfo[i].card_num%>">
                        <%=cardinfo[i].card_num + "  " + cardinfo[i].card_date + "  " + cardinfo[i].card_kind %></option>   
                    <% } %>
                </select>
            </div>
            <br>
            <div>
                <label for="bakset_place">배송지 선택</label>
                <select id="bakset_place" class="form-control" aria-colspan="13" name="bakset_place" style="width: auto;">
                    <option value="">배송지선택</option>
                    <% for(var i = 0; i < placeinfo.length; i++ ) { %>
                    <option value="<%=placeinfo[i].place_num%>">
                        <%=placeinfo[i].place_num + "  " + placeinfo[i].place_addr + "  " + placeinfo[i].place_addrinfo %></option>   
                    <% } %>
                </select>
            </div>
            <br>
            <button type="submit">주문</button>
        </form>
 
        <br>
        <button type="button" onclick="location.href='/'">취소</button>
    </body>
</html>